body{
    margin: 0;
    padding: 0;
    color: #242424;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
    scroll-behavior: smooth;
}

.top-button{
    display: flex;
    position: fixed;
    justify-content: center;
    padding-top: 10px;
    width: 15em;
    height: 2em;
    top: 1em;
    left: 1em;
    color: white;
    background: none;
    backdrop-filter: blur(10px);
    border: 1px solid white;
    border-radius: 9999px;
    cursor: pointer;
    z-index: 1;
}

.top-button:link, .top-button:visited, .top-button:hover, .top-button:active{
    text-decoration: none;
}

section.module.parallax h1{
    font-weight: 900;
    margin: 0;
    padding: 10px;
    color: white;
    border: 1px solid white;
    border-radius: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: none;
    backdrop-filter: blur(1em);
}

h1,h2,h3,h3,h4,h5,h6{
    font-weight: 900;
    color: black
}

.wrapper{
    width: 100%;
    margin: 0 auto;
}

main{
    display: block;
    background-color: #fff;
}

.container{
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
    padding: 0 20px;
}

section.module p{
    margin-bottom: 40px;
}

section.module:last-child{
    margin-bottom: 0;
}

section.module h2{
    margin-bottom: 40px;
    font-size: 30px;
}

section.module.content{
    padding: 40px 0;
    background: linear-gradient(156deg, rgba(216,215,227,1) 0%, rgba(90,167,237,1) 27%, rgba(0,212,255,1) 56%, rgba(161,214,228,1) 82%)
}

section.module.parallax{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh !important;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

section.module.parallax:after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 8;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 30%, #000 100%);
    background: -moz-linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 30%, #000 100%);
    background: -webkit-linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 30%, #000 100%);
    background: -o-linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 30%, #000 100%);
}

section.module.parallax-1{
    background-image: url(https://www.opovo.com.br/_midias/jpg/2020/06/16/terminal_de_messejana_6-12826247.jpg);
}

section.module.parallax-2{
    background-image: url(https://www.opovo.com.br/noticiasimages/app/noticia_146418291334/2018/02/26/352009/terminal-antonio-bezerra.jpg);
}

section.module.parallax-3{
    background-image: url(https://mapacultural.secult.ce.gov.br/files/space/314/terminal-do-Conjunto-Ceara-5.jpg);
}

section.module.parallax-4{
    background-image: url(https://mapacultural.secult.ce.gov.br/files/space/310/Terminal-da-Lagoa-1.jpg);
}

section.module.parallax-5{
    background-image: url(https://www.fortaleza.ce.gov.br/images/images1/00000000000/6junho2022/04%2007%202022%20Etufor%20IMG_9768.jpg);
}

section.module.parallax-6{
    background-image: url(https://mapacultural.secult.ce.gov.br/files/space/315/papicu1.jpg);
}

section.module.parallax-7{
    background-image: url(https://mapacultural.secult.ce.gov.br/files/space/312/Terminal-da-Parangaba.jpg);
}

section.module.parallax-8{
    background-image: url(https://mapacultural.secult.ce.gov.br/files/space/316/s1.jpg)
}

.footer{
    width: 100%;
    height: 60px;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    background-color: #000;
    text-decoration: none;
}
.btn::after {
    content: "↑";
    font-size: 32px;
    font-weight: bold;
    color: aliceblue;
    transition: margin-top 250ms;
}
.btn:hover::after {
    margin-top:-8px;
}
.botaovoltar {
    position: fixed;
    width: 50px;
    height: 50px;
    border: 2px white solid;
    border-radius: 50%;
    z-index: 10;
    top: 2vw;
    left: 2vh;
    text-decoration: none;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(4px);
}
.botaovoltar ion-icon{
    color: white;
    width: 100%;
    height: 50%;
    z-index: 10;
}