*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    letter-spacing: 0.05em;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-image: url("paisagem.jpeg");
    background-size: auto;
    background-position: center;
}
.form-box{
    position: relative;
    backdrop-filter: blur(4px);
    padding: 3em;
    width: 350px;
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border-style: solid;
    border-color: white;
    border-width: 1px;   
}
.inputbox{  
    position: relative;
    margin: 30px 0;
    width: 300px;
    border-bottom: 1px solid white;  
}
.inputbox label{
    position: absolute;
    font-size: 1em;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
    color: white;
    pointer-events: none;
    transition: 0.3s;
}
.inputbox input{
    background: transparent;
    height: 3em;
    width: 100%;
    border: transparent;
    outline: none;
    font-size: 1em;
    color: white;
}
.inputbox input:focus ~ label, .inputbox input:not(:placeholder-shown) ~ label /*feito para corrigir a animação usando placeholder*/
{
    top: -25%;
    transition: 0.3s;
    font-size: 0.75em;
}
.inputbox input:focus ~ ion-icon, .inputbox input:not(:placeholder-shown) ~ ion-icon
{
    color: transparent;
    top: -25%;
    transition: 0.3s;
}

h2{
    color: white;
    font-size: 2em;
    text-align: center;
    padding: 10px;
}
.forget{
    margin: -15px 0 15px 0;
    font-size: .8em;
    color: white;
    display: flex;
    justify-content: center;
}
.forget label input{
    margin-right: 3px;
    cursor: pointer; /*mouse reage ao passar por cima do item*/
    
}
.forget label a{
    color: white;
    text-decoration: none;
    margin: 15px 0px 0 60px;
}
.forget label a:hover{
    text-decoration: underline;
}
button{
    width: 100%;
    height: 40px;
    border-radius: 40px; /* borda redonda */
    background: white;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 600;
}
.register{
    font-size: .8em;
    color: white;
    text-align: center;
    margin: 20px 0 0px 0;
}
.register p a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}
.register p a:hover{
    text-decoration: underline;
}
.inputbox ion-icon{
    position: absolute;
    right: 8px;
    top:22px;
    color: white;
    transition: 0.3s;
}
