 @font-face {
    font-family: "barbie";
    src: url(barbiefont.otf);
 }
 
 
 *{
    box-sizing: border-box;
 }

 body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    font-family: barbie;
    flex-direction: column;
    
}

h1{
    text-align: center;
    font-weight: bolder;
    font-size: 4em;
}

.countdown-container{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: baseline;
    border: 0px solid;
    border-radius: 10px;
}

.contador{
    width: 50%;
    margin-left: 3em;
    position: absolute;
    margin-top: 10em;
}

.text{
    font-weight: bold;
    font-size: 3em;
    line-height: 1;
    margin: 1rem 2rem;
}

.countdown-el{
    text-align: center;
}

span{
    font-size: 1.6em;
}

.tudo{
    width: 100%;
    height: 95vh;
    position: relative;
    justify-content: center;
    align-items: center;
    background-image: url(bg.jpg);
    background-position: right;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    -webkit-text-stroke: 1px rgb(187, 62, 160);

}
.imag{
    background-image: url(glitter.png);
    background-size: cover;
    background-repeat: no-repeat;
    
}

.centrall{
    display: flex;
    justify-content: center;
}


.info{
    display: flex;
    width: 100%;
    align-items: center;
    width: 80vw;

    margin: 0;
    justify-content: center;
    transform: scaleX(-1);
    -webkit-text-stroke: 2px rgb(187, 62, 160);
    color: white;
    flex-direction: column;
    
}
.info h2{
    transform: scaleX(-1);
    font-size: 2em;
    text-align: center;
}

.sobre{
    width: 100%;
    font-size: 2em;
}
.cinema{
    align-items: center;
    margin-top: 1em;
    justify-content: center;
    display: flex;
    font-size: 2em;
    -webkit-text-stroke: 1.4px rgb(187, 62, 160);
}

.texto {
    position: sticky;
    display: grid;
    grid-template-columns: 1fr;
    transform: scaleX(-1);
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    width: 90%;
    text-align: center;
}

.info img{
    margin-top: 25px;
    border: 1px solid white;
    border-radius: 30px;
    display: flex;
    width: 30rem;
    align-self: center;
    justify-self: end;
}


.ingresso {
    transform: scaleX(-1);
    margin-top: 3em;
    font-size: 4em;
    text-align: center;
}

.compre{
transform: scaleX(-1);
font-size: 4em;
text-decoration: none;
border: 1px solid;
border-radius: 10px;
padding: 5px;
background-color: rgb(125, 178, 238);
margin: 1em;
text-align: center;
}

.info-2{
    padding: 10px;
    background-image:url(./bg4.jpg);
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(4px);
}

h3{
    text-align: center;
    font-weight: bolder;
    font-size: 3em;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: baseline;
    color: white;
    -webkit-text-stroke: 1px rgb(187, 62, 160);
}

.product {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: rgb(252, 171, 212);
    border: 1px solid palevioletred;
    border-radius: 1rem;
    padding: 10px;
    margin: 10px 15rem;
}
  
.product img {
    justify-self: center;
    max-width: 5rem;
    margin-left: 1rem;
}
  
.product h2 {
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 16px;
    margin: 0;
}
  
.product p {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 14px;
    margin: 0;
}

.buy{
    border: none;
    width: 5rem;
    height: 3rem;
    border-radius: 3rem;
    background-color: green;
    color:white;
    font-weight: bold;
    font-family: 'barbie';
    justify-self: center;
    align-self: center;
    cursor: pointer;
    transition: 300ms;
}

.buy:hover{
    background-color: darkgreen;
}

.compre:link, .compre:visited {
text-decoration: none;
color: rgb(187, 62, 160);
}

.compre:hover{
color: rgb(125, 178, 238);
background-color: rgb(187, 62, 160);
}

@media screen and (max-width: 800px) {
    .tudo{ background-image: url(barbiebg.png);}

    h1{margin-top: 0;}
    .contador{
        width: 100%;
        margin-left: 0em;
        margin-top: 15em;
        position: relative;
    }

    .tudo{
        color: white;
        -webkit-text-stroke: 1px rgb(187, 62, 160);

    }

}