body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #FF4500;
  text-align: center;
  padding: 20px;
}

#btn-header{
  color:orange;
}

#btn-header:hover{
  background-color: gray;
  transition: ease-in-out 150ms;
}

nav {
  display: inline-block;
  margin-top: 10px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  color: #FF4500;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav ul li a:hover {
  background-color: #FF4500;
  color: #FF4500;
}

.hero {
  background-image: url(background.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #FF4500;
  padding: 100px 0;
}

.hero h2 {
  border: 1px solid white;
  background-color: whit;
  backdrop-filter: blur(5px);
  font-size: 48px;
  margin-bottom: 20px;
}

form input[type=email] {
  width: 10%;
  height: 1px;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  background: white;
  backdrop-filter: blur(4px);
}

.submit-btn{
  height: 2em;
  background-color: #FF4500;
  border: 1px solid #FF4500;
  border-radius: 9999px;
}

.destinations{
  margin: 0;
  padding-left: 0;
}
.destinations h2{
  font-size: 2em;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 20px
}

li, ul{
  list-style-type: none;
}

section.display.destino{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh !important;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

section.display.destino-1{
  background-image: url(wallpaperflare.com_wallpaper.jpg);
}

section.display.destino-1 h3, p{
  color: white;
  border-radius: 5px;
  text-align: center;
  width: 30em;
  background: none;
}

section.display.destino-2{
  background-image: url(joao_pessoa.jpg);
}

section.display.destino-2 h3, p{
  color: white;
  border-radius: 5px;
  text-align: center;
  width: 30em;
  background: none;
}

section.display.destino-3{
  background-image: url(salvador.jpg);
}

section.display.destino-3 h3, p{
  color: white;
  border-radius: 5px;
  text-align: center;
  width: 30em;
  background: none;
}

footer{
  width: 100%;
  height: 60px;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.botaovoltar {
  position: fixed;
  width: 50px;
  height: 50px;
  border: 2px white solid;
  border-radius: 50%;
  z-index: 2;
  top: 2vw;
  left: 2vh;
  text-decoration: none;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(4px);
}
.botaovoltar ion-icon{
  color: white;
  width: 100%;
  height: 50%;
}